@import '../../Main-Scss/Main.scss';

.navbar {
    border-bottom: 2px solid rgba(250, 250, 250, 0.2);
    position: absolute !important;
    z-index: 1 !important;
    width: 100%;
}

.link {
    color: #FFF !important;
}

.link:hover {
    color: $Main-Color !important;
}

button {
    background-color: white !important;
    letter-spacing: 1px;
    color: #7b7979 !important;
    transition: all .3s ease-in-out !important;

    i,
    svg {
        background-color: $Main-Color;
        border-radius: 50%;
        width: 20px !important;
        height: 20px !important;
        color: #FFF;
        padding: 3px;
        font-weight: bolder;
    }
}

button:hover {
    background-color: $Main-Color !important;
    color: #FFF !important;
    transition: all .3s ease-in-out;
}

@media only screen and (max-width: 426px) {
    .navbar {
        border-bottom: 0px !important;
        .nav {
            background-color: #FFF !important;
            color: black !important;
            opacity: .9;
            .link {
                color: black !important;
                padding: 17px 0px !important;
            }
        }
    }

}